.testimonials {
  grid-area: testimonials;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-neutral-white);
}

.testimonials .heading-tertiary {
  text-align: center;
  color: var(--color-neutral-grayish_blue);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin-bottom: 1.6rem;
}

.testimonial__image {
  width: 7rem;
  height: 7rem;
  border-radius: 100rem;
  object-fit: cover;
  object-position: center;
  margin-block: 2.5rem;
}

.testimonial__testimony {
  width: 70%;
  text-align: center;
  color: var(--color-neutral-very_dark_gra_blue);
}

.testimonial__user-name {
  margin-top: 2.5rem;
}
.testimonial__user-position {
  color: var(--color-neutral-grayish_blue);
}

.testimonials .col-1-of-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 37.5em) {
  .testimonials {
    padding-block: 8rem;
  }

  .testimonials .heading-tertiary {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }

  .testimonial__testimony {
    width: 90%;
    margin-block: 1.6rem;
  }
  .testimonial__user-position {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .testimonials .col-1-of-3:not(:last-child) {
    margin-bottom: 5rem;
  }
}
