.header {
  width: 100%;
  position: relative;

  &-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;

    &__logo {
      width: 12rem;
      height: 5rem;
      fill: $color-neutral-white;
    }

    &__items {
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &__link {
      font-size: 1.2rem;
      font-weight: $font-medium;
      color: $color-neutral-white;
      padding: 1rem 1.6rem;
      border-radius: 100px;

      &:active,
      &:hover {
        background-color: rgba($color-neutral-white, 0.5);
        color: $color-neutral-very_dark_des_blue;
      }

      &--btn {
        font-family: $font-secondary;
        color: $color-neutral-very_dark_des_blue;
        text-transform: uppercase;
        background-color: $color-neutral-white;
      }
    }
  }
}
