.hero {
  background: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;

  .heading-primary {
    margin-block: 15rem;
  }
  svg {
    width: 3rem;
    height: 13rem;
  }
}
