/* LAYOUT STYLES */
.app {
  display: grid;
  grid-template-columns: 1fr 90em 1fr;
  grid-template-rows: 90vh max-content 60vh repeat(2, 30vh);
  grid-template-areas:
    ". hero ."
    ". services ."
    ". testimonials ."
    ". gallery ."
    ". footer .";
}
/* ANIMATIONS */

@media screen and (max-width: 37.5em) {
  .nav {
    display: none;
  }
  .app {
    grid-template-columns: 100vw;
    grid-template-rows: 90vh repeat(2, max-content) 60vh 50vh;
    grid-template-areas:
      "hero"
      "services"
      "testimonials"
      "gallery"
      "footer";
  }
}
